*
!.gitignore
!/
!/kidi26_8/app/src/main/java/com/example/kidi2/AdapterRV
!/kidi26_8/app/src/main/java/com/example/kidi2/AdminAddCourse
!/kidi26_8/app/src/main/java/com/example/kidi2/AdminSetCourse
!/kidi26_8/app/src/main/java/com/example/kidi2/algorithm_spinner
!/kidi26_8/app/src/main/java/com/example/kidi2/AlgorithmAdapter
!/kidi26_8/app/src/main/java/com/example/kidi2/AlgorithmItem
!/kidi26_8/app/src/main/java/com/example/kidi2/Category
!/kidi26_8/app/src/main/java/com/example/kidi2/Course
!/kidi26_8/app/src/main/java/com/example/kidi2/Course1
!/kidi26_8/app/src/main/java/com/example/kidi2/CustomPagerAdapter
!/kidi26_8/app/src/main/java/com/example/kidi2/DataModel
!/kidi26_8/app/src/main/java/com/example/kidi2/FirstParentReg
!/kidi26_8/app/src/main/java/com/example/kidi2/ModelObject
!/kidi26_8/app/src/main/java/com/example/kidi2/MyAdapter
!/kidi26_8/app/src/main/java/com/example/kidi2/MyAdapter1
!/kidi26_8/app/src/main/java/com/example/kidi2/MyAdapter3
!/kidi26_8/app/src/main/java/com/example/kidi2/RecyclerItemClickListener
!/kidi26_8/app/src/main/java/com/example/kidi2/RetroFitAPI
!/kidi26_8/app/src/main/java/com/example/kidi2/RetroFitAPI2
!/kidi26_8/app/src/main/java/com/example/kidi2/RetroFitAPI3
!/kidi26_8/app/src/main/java/com/example/kidi2/RvAdapter
!/kidi26_8/app/src/main/java/com/example/kidi2/RVitem
!/kidi26_8/app/src/main/java/com/example/kidi2/RVitem3
!/kidi26_8/app/src/main/java/com/example/kidi2/SliderAdapter
!/kidi26_8/app/src/main/res/layout/admin_add_course
!/kidi26_8/app/src/main/res/layout/admin_set_course
!/kidi26_8/app/src/main/res/layout/algorithm_spinner
!/kidi26_8/app/src/main/res/layout/first_parent_reg
!/kidi26_8/app/src/main/res/layout/my_row
!/kidi26_8/app/src/main/res/layout/my_row3
!/kidi26_8/app/src/main/res/layout/my_spinner
!/kidi26_8/app/src/main/res/layout/rv_row
!/kidi26_8/app/src/main/res/layout/slider_item
!/kidi26_8/app/src/main/res/layout/view_blue
!/kidi26_8/app/src/main/res/layout/view_green
!/kidi26_8/app/src/main/res/layout/view_red


























