*
!.gitignore
!
!app
!app/src
!app/src/main
!app/src/main/java
!app/src/main/java/com
!app/src/main/java/com/example
!app/src/main/java/com/example/kidi2
!app/src/main/java/com/example/kidi2/AdapterRV.java
!app/src/main/java/com/example/kidi2/AdminAddCourse.java
!app/src/main/java/com/example/kidi2/AdminSetCourse.java
!app/src/main/java/com/example/kidi2/algorithm_spinner.java
!app/src/main/java/com/example/kidi2/AlgorithmAdapter.java
!app/src/main/java/com/example/kidi2/AlgorithmItem.java
!app/src/main/java/com/example/kidi2/Category.java
!app/src/main/java/com/example/kidi2/Course.java
!app/src/main/java/com/example/kidi2/Course1.java
!app/src/main/java/com/example/kidi2/CustomPagerAdapter.java
!app/src/main/java/com/example/kidi2/DataModel.java
!app/src/main/java/com/example/kidi2/FirstParentReg.java
!app/src/main/java/com/example/kidi2/ModelObject.java
!app/src/main/java/com/example/kidi2/MyAdapter.java
!app/src/main/java/com/example/kidi2/MyAdapter1.java
!app/src/main/java/com/example/kidi2/MyAdapter3.java
!app/src/main/java/com/example/kidi2/RecyclerItemClickListener.java
!app/src/main/java/com/example/kidi2/RetroFitAPI.java
!app/src/main/java/com/example/kidi2/RetroFitAPI2.java
!app/src/main/java/com/example/kidi2/RetroFitAPI3.java
!app/src/main/java/com/example/kidi2/RvAdapter.java
!app/src/main/java/com/example/kidi2/RVitem.java
!app/src/main/java/com/example/kidi2/RVitem3.java
!app/src/main/java/com/example/kidi2/SliderAdapter.java
!app/src/main/res/layout/admin_add_course.xml
!app/src/main/res/layout/admin_set_course.xml
!app/src/main/res/layout/algorithm_spinner.xml
!app/src/main/res/layout/first_parent_reg.xml
!app/src/main/res/layout/my_row.xml
!app/src/main/res/layout/my_row3.xml
!app/src/main/res/layout/my_spinner.xml
!app/src/main/res/layout/rv_row.xml
!app/src/main/res/layout/slider_item.xml
!app/src/main/res/layout/view_blue.xml
!app/src/main/res/layout/view_green.xml
!app/src/main/res/layout/view_red.xml


























